.btn {
    position: relative;
    cursor: pointer;

    &-border {
        display: block;
        width: 100%;
        padding: 13px 16px;
        transition: $trs;
        border: 2px solid $color-accent;
        color: $color-accent;
        font-family: $f-medium;
        font-size: 14px;
        line-height: 13px;
        text-align: center;

        &:hover {
            background-color: $color-accent;
            color: white;
        }
    }

    &-accent {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        border-radius: 10px;
        background-color: #0072aa;
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);

        &:hover {
            background-color: #005681;
        }

        ins {
            padding: 18px 42px;
            color: #fff;
            font-family: $f-bold;
            font-size: 24px;
            line-height: 24px;
            text-decoration: none;
        }
    }
} // .btn
