.contacts {
    position: relative;
    margin-bottom: 60px;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        @include xs-block() {
            margin: 0;
        }
    }

    &__col {
        width: calc(1 / 3 * 100% - 30px);
        margin: 0 15px;

        @include xs-block() {
            width: 100%;
            margin: 0;
        }

        & + & {
            @include xs-block() {
                margin: 50px 0 0;
            }
        }
    }

    &__item {
        & + & {
            margin-top: 25px;
        }
    }

    &__block {
        ins {
            display: block;
            font-family: $f-medium;
            font-size: 24px;
            line-height: 140%;
            text-decoration: none;
        }

        span {
            font-size: 18px;
            line-height: 140%;

            @include xs-block() {
                font-size: 14px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 15px;

        @include xs-block() {
            margin-bottom: 5px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-top: 20px;

        span {
            margin-right: 5px;
            color: #5d7d4f;
        }

        svg {
            width: 16px;
            height: 16px;
            fill: #5d7d4f;
        }
    }

    &__adress {
        ins {
            font-size: 36px;

            @include xs-block() {
                font-size: 24px;
            }
        }
    }

    &__phone {
        margin-bottom: 50px;

        &--wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        &--list {
            margin-top: 15px;

            a:first-child {
                margin-right: 10px;
            }
        }

        a {
            color: #000;

            &:hover {
                color: $color-accent;
            }
        }
    }

    &__mes {
        margin-left: 15px;
    }

    &__worktime span {
        color: rgba(0, 0, 0, 0.5);
    }

    &__email {
        padding-left: 150px;

        @include xs-block() {
            padding-left: 0;
        }

        a {
            color: #000;

            &:hover {
                color: $color-accent;
            }
        }
    }
} // .contacts
