.category-row {
    position: relative;
    margin-top: -20px;
    padding-bottom: 50px;

    &__wrap {
        width: 100%;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &-card {
        position: relative;

        width: calc(100% / 4 - 30px);
        margin: 0 15px;

        min-height: 520px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.425) 100%
            );
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            opacity: 0;
            width: 100%;
            height: 100%;
            transition: $trs;
            background-color: $color-accent;
        }

        &:hover {
            &::before {
                opacity: 0.85;
            }

            .category-card__desc {
                height: auto;

                span {
                    transform: translateY(0);
                }
            }
        }

        &__image {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__wrap {
            position: absolute;
            right: 20px;
            bottom: 20px;
            left: 20px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
        }

        &__title {
            margin-bottom: 30px;
            transition: $trs;
            color: white;
            font-family: $f-semibold;
            font-size: 28px;
            line-height: 33px;
        }

        &__link {
            display: flex;
            align-items: center;
            transition: $trs;

            // margin-top: auto;

            color: white;

            span {
                font-family: $f-semibold;
                font-size: 16px;
                line-height: 19px;
            }

            svg {
                width: 14px;
                height: 14px;
                margin-top: 3px;
                margin-left: 10px;
                fill: white;
            }
        }
    }
}
