.header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;

    &__wrap {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1470px;
        margin: 0 auto;
    }

    &__logo {
        display: flex;
        align-items: center;
        padding: 35px 0;

        .logo {
            width: 213px;
            height: auto;
        }
    }

    &__desc {
        max-width: 190px;
        margin-left: 50px;
        color: #4f4f4f;
        font-family: $f-medium;
        font-size: 16px;
        line-height: 150%;
    }

    &__block {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding: 0 60px;

        &:last-child {
            padding: 0 0 0 60px;
        }
    }

    &__border {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__adress {
        display: flex;
        align-items: center;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }

        span {
            width: calc(100% - 24px);
            max-width: 240px;
            color: #4f4f4f;
            font-family: $f-medium;
            font-size: 16px;
            line-height: 150%;
            white-space: nowrap;
        }
    }

    &-phone {
        flex-direction: column;
        justify-content: center;

        &__btn {
            width: 156px;
        }

        &__num {
            padding-top: 10px;
            color: #1b1b1b;
            font-family: $f-bold;
            font-size: 18px;
            line-height: 21px;
            white-space: nowrap;
        }
    }

    &-stiky {
        position: fixed;
        top: -55px;
        z-index: 99;
        width: 100%;
        height: 51px;
        transform: translateY(-55px);
        transition: all 0.5s ease;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        background-color: #fff;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1470px;
            margin: 4px auto;
        }

        &__logo {
            img {
                width: 126px;
                height: auto;
            }
        }

        &__nav {
            nav {
                border-bottom: 0;

                ul li {
                    a {
                        padding: 0 20px !important;
                        font-size: 16px;
                    }
                }

                .sub-menu li a {
                    padding: 5px 20px !important;
                }
            }
        }

        &__mess {
            .messenger__item {
                width: 32px;
                height: 32px;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &__phone {
            display: flex;
            align-items: center;

            .header-phone__num {
                order: 1;
                padding-top: 0;
                padding-right: 20px;
            }

            .header-phone__btn {
                order: 2;
            }
        }

        &.up {
            top: 0;
            transform: translateY(0);
        }
    }
} // .header
