.nav {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @include hd-block() {
        padding: 0 15px;
    }

    @include md-block() {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1470px;
        margin: 0 auto;

        @include md-block() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        li {
            position: relative;

            @include md-block() {
                margin-top: 30px;
            }

            &:first-child a {
                padding: 30px 20px 30px 0;
                color: #1b1b1b;
            }

            &:last-child a {
                padding: 30px 0 30px 20px;
            }

            &.current_page_item a,
            &.current-menu-item a {
                color: $color-accent;
            }

            &.current-menu-parent {
                & > a {
                    color: $color-accent;
                }
            }

            &.menu-item-has-children::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 10px;
                height: 10px;
                transform: translateY(-48%);
                background-image: url('../../assets/files/icons/svg/icon--arrow-nav.svg');
                background-size: cover;

                @include xs-block() {
                    display: none !important;
                }
            }

            &.menu-item-has-children:hover .sub-menu {
                display: flex;

                @include xs-block() {
                    display: none !important;
                }
            }

            .sub-menu {
                position: absolute;
                top: 100%;
                z-index: 190;
                display: none;
                flex-direction: column;
                min-width: 300px;
                padding: 20px 0;
                background-color: #fff;
                box-shadow: 5px 25px 30px rgba(0, 0, 0, 0.1);

                li {
                    &:first-child a {
                        padding: 10px 20px;
                    }

                    &:last-child a {
                        padding: 10px 20px;
                    }

                    &.current-menu-item a {
                        color: $color-accent;
                    }

                    a {
                        padding: 10px 20px;
                        color: #1b1b1b;
                        font-size: 16px;
                    }
                }
            }

            a {
                display: block;
                padding: 30px 20px;

                color: #1b1b1b;
                font-family: $f-medium;
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
} // .nav
