.wpcf7 {
    position: relative;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__col {
        margin: 0 15px;

        &:first-child {
            width: calc(40% - 30px);

            @include xs-block() {
                width: calc(100% - 30px);
            }
        }

        &:last-child {
            width: calc(60% - 30px);

            @include xs-block() {
                width: calc(100% - 30px);
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        .btn {
            max-width: 285px;
            height: 60px;
            padding: 15px 45px;
            font-size: 22px;
            line-height: 27px;
        }
    }

    input[type='tel'],
    input[type='email'],
    input[type='text'] {
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        margin-bottom: 30px;
        border: 1px solid rgba(162, 190, 150, 0.5);
        background: rgba(241, 241, 241, 0.4);

        @include placeholder() {
            color: rgba(0, 0, 0, 1);
            font-size: 18px;
            line-height: 22px;
        }
    }

    br {
        display: none;
    }

    .wpcf7-form-control-wrap {
        position: relative;
        display: flex;
    }

    .wpcf7-not-valid-tip {
        position: absolute;
        display: none;
    }

    .wpcf7-not-valid {
        position: relative;
        border: 1px solid red !important;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 20px;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            background-color: red;
        }
    }

    textarea {
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid rgba(162, 190, 150, 0.5);
        background: rgba(241, 241, 241, 0.4);
        min-height: 150px;

        @include placeholder() {
            color: rgba(0, 0, 0, 1);
            font-size: 18px;
            line-height: 22px;
        }
    }
}

.grid {
    margin-right: -15px;
    margin-left: -15px;

    &-item {
        position: relative;
        width: calc(1 / 3 * 100% - 30px) !important;
        margin-bottom: 30px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.grid-item,
.grid-sizer {
    width: calc(1 / 3 * 100%) !important;
}

.background-pixel {
    background-image: url('../../assets/files/icons/svg/pixel.svg');
}

.siteinfo {
    position: relative;
    margin: 120px 0;

    &__row {
        display: flex;
        align-items: center;
    }

    &__col {
        width: 50%;
    }

    &__text {
        max-width: 720px;
        height: 100%;
        padding: 100px 0;

        h2 {
            margin-bottom: 40px;
            color: #1b1b1b;
            font-family: $f-semibold;
            font-size: 48px;
            line-height: 59px;
        }

        p {
            margin-bottom: 40px;

            color: #1b1b1b;
            font-size: 22px;
            line-height: 150%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: #809676;
            font-family: $f-bold;
            text-decoration-line: underline;
        }

        strong {
            font-family: $f-bold;
            font-weight: normal;
        }
    }

    &__gallery {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 30px;
            right: 0;
            bottom: 0;
            left: 20px;
            width: 100%;
            height: 100%;
            border: 5px solid $color-accent;
        }
    }

    &__icon {
        position: absolute;
        bottom: 40px;
        left: -25px;
        z-index: 90;

        svg {
            width: 149px;
            height: 149px;
        }
    }

    &__slider {
        width: 720px;
        height: 720px;
    }
}

.video {
    margin-bottom: 50px;

    &__player {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.dd-slider {
    &-nooverflow {
        overflow: visible !important;
    }

    &-btn {
        position: absolute;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
    }

    &-next,
    &-prev {
        width: 52px;
        height: 52px;
        transition: $trs;
        background-color: #a2be96;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: #809676;
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }

    &-next {
        right: 50px;

        &::before {
            background-image: url('../../assets/files/icons/svg/slider-next.svg');
        }
    }

    &-prev {
        left: 50px;

        &::before {
            background-image: url('../../assets/files/icons/svg/slider-prev.svg');
        }
    }
}
